.weather {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 137px;
}

.icon span {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.info {
  text-align: center;
  margin-left: 5vh;
}

.temp {
  font-size: 26px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  color: #aaa;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: #aaa;
}